In [2]:
import pandas as pd

In [3]:
data=pd.read_excel('data.xlsx')

In [204]:
y=data[['Quantity']]

In [205]:
x=data[['Item Total','Month']]

In [206]:
from sklearn.model_selection import train_test_split

In [207]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [208]:
x_train.head()

        Month
440963      4
220667      2
166384      2
173701      2
267261      3

In [209]:
y_train.head()

        Quantity
440963       4.0
220667      18.0
166384       0.5
173701       1.0
267261       1.0

In [210]:
from sklearn.linear_model import LinearRegression

In [211]:
lr=LinearRegression()

In [212]:
lr.fit(x_train,y_train)

LinearRegression()

In [213]:
y_pred=lr.predict(x_test)

In [214]:
y_test.head()

        Quantity
137924      30.0
198939       2.0
430547       1.0
3344         1.5
33           1.0

In [215]:
y_pred[0:5]

array([[3.60623587],
       [3.60623587],
       [3.53089813],
       [3.64390474],
       [3.64390474]])

In [216]:
from sklearn.metrics import mean_squared_error

In [217]:
mean_squared_error(y_test,y_pred)

122.42718415296606